
<div *ngIf="!isPosterAsync" class="card hoverable" (mouseenter)="enterCard($event, show)" [ngStyle]="{'background-image': 'url(' + (show.poster)  + ')'}"></div>
<div *ngIf="isPosterAsync" class="card hoverable" (mouseenter)="enterCard($event, show)" [ngStyle]="{'background-image': 'url(' + (show.poster | async)  + ')'}"></div>

<div id="expanded_card" class="z-depth-5" (click)="openShow()">
	<div fxLayout="column" fxLayoutAlign="center" class="expanded_overlay">
		<div fxLayout="column" class="center-align card-title" >
			<span>{{ hovering_episode['title'] }}</span>
		</div>
		<div fxLayout="column" class="center-align card-episode" >
			<span>{{ hovering_episode['episode'] }}</span>
		</div>
		<div fxLayout="column" class="center-align card-network" >
			<span>{{ hovering_episode['network'] }}</span>
		</div>
	</div>
</div>
