@import "~materialize-css/sass/materialize";


$poster_w: 18vw;
$expanded_poster_w: 25vw;

.card {
	// 182 x 268
	cursor: pointer;
	margin: 1vw;
	background-color: transparent;
	width: calc(18vw);
	height: calc(18vw * 1.47);
	background-size: calc(18vw) calc(18vw * 1.47);
	border-radius: 4px;
	background-repeat: no-repeat;
	// background-position-x: -4px;
	img {
		border-radius: 4px;
	}
}

#expanded_card {
	display: none;
	z-index: 1;
	width: $poster_w;
	height: calc(#{$poster_w} * 1.47);
	background-color: transparent;
	position: absolute;
	background-size: calc(25vw) calc(25vw * 1.47);
	border-radius: 4px;
	background-repeat: no-repeat;
	// background-position-x: -4px;
	border-radius: 4px;
}

.expanded_overlay {
	width: inherit;
	height: inherit;
	background-color: rgba(55, 71, 79, .8);
	cursor: pointer;
}

.card-title {
	line-height: calc(2rem + 1vw);
	padding-top: 1rem !important;
}

.card-episode {
	padding-top: 1rem !important;
}
