@import "~materialize-css/sass/materialize";


$poster_w: 18vw;
$expanded_poster_w: 26vw;

.card {
	cursor: pointer;
	margin: 0;
	background-color: transparent;
	width: $poster_w;
	height: calc(#{$poster_w} * 1.5);
	 //max-width: 220px;
	 //max-height: 330px;
	background-size: cover;
	border-radius: 4px;
	background-repeat: round;
	img {
		border-radius: 4px;
	}
}

.card-title {
	margin: 0 auto;
	padding-top: 1rem !important;
	font-size: calc(1rem + 1rem);
	line-height: calc(1rem + 1rem);
	span {
		min-width: $poster_w;
		max-width: $poster_w;
	}
}

.card-episode {
	padding-top: 1rem !important;
	font-size: calc(1rem + 1rem);
}

.card-network {
	padding-top: 1rem !important;
	font-size: calc(.8rem + 1rem);
}

.card-year {
	padding-top: 1rem !important;
	font-size: calc(.6rem + 1rem);
	font-weight: 600;
}

.card-rating {
	font-size: calc(.6rem + 1rem);
	margin-bottom: 1rem;
}

#expanded_card {
	display: none;
	z-index: 1;
	width: $poster_w;
	height: calc(#{$poster_w} * 1.5);
	background-color: transparent;
	position: absolute;
	background-size: cover;
	border-radius: 4px;
	background-repeat: round;
	border-radius: 4px;
}

.expanded_overlay {
	width: inherit;
	height: inherit;
	background-color: rgba(55, 71, 79, .8);
	cursor: pointer;
}


// Change poster on breakpoint
@media only screen and (max-width: 500px)  {
	$poster_w: calc(50vw);
	.card {
		width: $poster_w;
		height: calc(#{$poster_w} * 1.5);
		//max-width: none;
		//max-height: none;
	}
	.card-title {
		span {
			min-width: $poster_w;
			max-width: $poster_w;
		}
	}
}

@media only screen and (min-width: 501px) and (max-width: 993px) {
	$poster_w: calc(30vw);
	.card {
		width: $poster_w;
		height: calc(#{$poster_w} * 1.5);
		//max-width: none;
		//max-height: none;
	}
	.card-title {
		span {
			min-width: $poster_w;
			max-width: $poster_w;
		}
	}
}

@media only screen and (min-width: 1600px) {
	$poster_w: calc(10vw);
	.card {
		width: $poster_w;
		height: calc(#{$poster_w} * 1.5);
		max-width: none;
		max-height: none;
	}
	.card-title {
		span {
			min-width: $poster_w;
			max-width: $poster_w;
		}
	}
}
