@import "~materialize-css/sass/materialize";


$poster_w: 18vw;
$expanded_poster_w: 26vw;

.card {
	cursor: pointer;
	margin: 1vw;
	background-color: transparent;
	width: calc(18vw);
	height: calc(18vw * 1.5);
	max-width: 220px;
	max-height: 330px;
	background-size: cover;
	border-radius: 4px;
	background-repeat: no-repeat;
	img {
		border-radius: 4px;
	}
}

.card-title {
	margin: auto;
	padding-top: 1rem !important;
	font-size: calc(1rem + 1vw);
	line-height: calc(1rem + 1vw);
	span {
		min-width: calc(12vw);
		max-width: calc(12vw);
	}
}

.card-episode {
	padding-top: 1rem !important;
	font-size: calc(1rem + 1vw);
}

.card-network {
	padding-top: 1rem !important;
	font-size: calc(.8rem + 1vw);
}

.card-year {
	font-weight: 600;
	font-size: calc(.6rem + 1vw);
}

.card-rating {
	font-size: calc(.6rem + 1vw);
	margin-bottom: 1rem;
}

#expanded_card {
	display: none;
	z-index: 1;
	width: $poster_w;
	height: calc(#{$poster_w} * 1.5);
	background-color: transparent;
	position: absolute;
	background-size: cover;
	border-radius: 4px;
	background-repeat: no-repeat;
	border-radius: 4px;
}

.expanded_overlay {
	width: inherit;
	height: inherit;
	background-color: rgba(55, 71, 79, .8);
	cursor: pointer;
}

