a {
	cursor: pointer;
}

.navbar {
	background-color: rgba(38, 50, 56, .6);
	padding: 1rem;
	height: 4rem;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	i {
		font-size: calc(1rem + 1vw);
	}
	div {
		-webkit-app-region: no-drag;
		cursor: pointer;
	}
}

.active {
	color: #2bbbad;
	transition: all 1s;
}

.options {
	// position: absolute;
	// right: 1rem;
	i {
		font-size: calc(1rem + 1vw);
		padding: 0 !important;
	}
    height: auto;
	transition: transform .4s ease-in;
}

// .rotate {
// 	transform: rotate(180deg);
// 	-ms-transform: rotate(180deg);
// 	-webkit-transform: rotate(180deg);
// }

#settings_dropdown {
	position: fixed;
	margin-top: 0;
	top: 4rem;
	width: 20rem;
	right: -20rem;
	z-index: 2;
	background-color: rgba(38, 50, 56, 0.9);
	transition: all .4s;
	li {
		text-align: center;
	}
	li a {
		color: white;
		font-size: calc(1rem + 1vw);
		line-height: calc(2rem + 2vw);
		vertical-align: middle;
		padding: calc(.5rem + .5vw);
		transition: all .2s ease-in;
	}
	li a:hover {
		color: #2bbbad;
	}
}

#settings_dropdown.open {
	right: 0;
}

.semaphore_btn {
	position: relative;
	right: 0;
	// margin-right: calc(.5rem + .5vw);
}

.semaphore_btn.first {
	margin-left: auto;
}

.progress {
  position: fixed;
  margin: 0;
  top: 0;
}
.progress.view {
  z-index: 10;
}
