.navbar {
	background-color: rgba(38, 50, 56, .9);
	padding: 1rem;
	height: 4rem;
	position: sticky;
	top: 0;
	z-index: 10;
	i {
		font-size: calc(1rem + 1vw);
	}
}

.active {
	color: #2bbbad;
	transition: all 1s;
}
