<div class="navbar" fxLayout="row" fxLayoutGap="2vw" fxLayoutAlign="start center" *ngIf="enabled">
	<div>
		<i [ngClass]="isActive('home') ? 'material-icons hoverable circle active' : 'material-icons hoverable circle'" routerLink="">home</i>
	</div>
	<div>
		<i [ngClass]="isActive('library') ? 'material-icons hoverable circle active' : 'material-icons hoverable circle'" routerLink="library">video_library</i>
	</div>
	<div>
		<i [ngClass]="isActive('torrents') ? 'material-icons hoverable circle active' : 'material-icons hoverable circle'" routerLink="torrents" style="padding-top: 6px;">file_download</i>
	</div>
	<div>
		<i [ngClass]="isActive('search') ? 'material-icons hoverable circle active' : 'material-icons hoverable circle'" routerLink="search" style="padding-top: 6px;">search</i>
	</div>
	<div *ngIf="current_show">
		<a class="btn" [ngClass]="isActive('show') ? 'active' : ''" [routerLink]="['show', current_show.dashed_title]">{{ current_show.title }}</a>
	</div>
	<div [ngClass]="settingsOpen ? 'options rotate' : 'options'">
		<i [ngClass]="isActive('settings') ? 'material-icons dropdown-trigger hoverable circle active' : 'material-icons dropdown-trigger hoverable circle'" data-target='settings_dropdown' (click)="settingsOpen = !settingsOpen" style="padding-top: 6px;">settings</i>
	</div>
</div>
<ul id='settings_dropdown' [ngClass]="settingsOpen ? 'open' : ''">
	<li>
		<a fxLayout="row" fxLayoutAlign="center center" (click)="refresh()">
			<i fxFlex="30px" class="material-icons">refresh</i>
			<span fxFlex="grow">Refresh</span>
		</a>
	</li>
	<li>
		<a fxLayout="row" fxLayoutAlign="center center" (click)="chooseFolder()">
			<i fxFlex="30px" class="material-icons">folder_open</i>
			<span fxFlex="grow">Set download folder</span>
			<input id="folder_input" type="file" style="display: none" webkitdirectory/>
		</a>
	</li>
<!-- 	<li>
		<a fxLayout="row" fxLayoutAlign="center center">
			<i fxFlex="30px" class="material-icons">delete_outline</i>
			<span fxFlex="grow">Dump db</span>
		</a>
	</li> -->
</ul>