
span {
	margin: auto;
	font-size: 1.2rem;
}

h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h5 {
	font-size: calc(1rem + 1vw);
	margin-top: calc(1rem + 1vw);
	margin-bottom: 0;
	text-transform: uppercase;
}

.container {
	margin-bottom: 2rem;
}

// .card {
// 	cursor: pointer;
// 	margin: 1vw;
// 	background-color: transparent;
// 	width: calc(18vw + 7px);
// 	height: calc(18vw * 1.47);
// 	background-size: calc(18vw + 14px) calc(18vw * 1.47);
// 	border-radius: 4px;
// 	background-repeat: no-repeat;
// 	background-position-x: -4px;
// 	img {
// 		border-radius: 4px;
// 	}
// }

.navigation {
	padding: 0;
}

.navigation_btn {
	margin: .5rem;
	width: 3rem;
	height: 3rem;
	line-height: 2.75rem;
}

.navigation_row {
	min-height: 48px;
}

.disabled {
	color: rgb(100, 100, 100);
	pointer-events: none;
}

// #title {
// 	font-family: 'Economica', sans-serif;
// 	font-size: calc(1rem + 4vw);
// 	line-height: calc(1rem + 4vw);
// 	letter-spacing: 2px;
// 	font-weight: 800;
// }

// #network {
// 	margin: 0 0;
// 	font-size: calc(1rem + 2vw);
// }

// #overview {
// 	font-size: calc(.8rem + 1vw);
// 	line-height: calc(1rem + 1vw);
// }

// .show_header{
// 	margin: 2vw;
// 	margin-left: 4vw;
// 	margin-right: 4vw;
// }

// .poster_container {
// 	margin: auto;
// 	border-radius: 4px;
// 	background-size: cover;
// }

// .trailer_container {
// 	position: absolute;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(0,0,0,.6);
// }

// #player {
// 	position: absolute;
// 	left: calc(50% - 320px);
// 	top: calc(50% - 160px);
// }

// .genres {
// 	color: rgba(230, 230, 130, 1);
// 	text-transform: uppercase;
// 	font-size: calc(.6rem + 1vw);
// 	padding-right: .5rem;
// 	border-radius: 4px;
// 	margin-top: .5rem; 
// }

// #trailer_icon {
// 	padding: 1rem;
// 	font-size: calc(1rem + 2vw);
// }

@media only screen and (min-width: 993px) {	
	.container {
		width: 85% !important;
	}
}