<app-page-loader [display]="loading"></app-page-loader>


<div class="container" @fadeItems *ngIf="show">

  <app-show-preview [show]="show"></app-show-preview>


  <div fxLayout="row" fxLayoutAlign="center center" class="navigation_row">
    <div class="center-align">
      <i class="material-icons navigation_btn hoverable circle" [ngClass]="{ 'disabled': this.currentSeason == 1 }"
        (click)="navigate_first()">skip_previous</i>
    </div>
    <div class="center-align">
      <i class="material-icons navigation_btn hoverable circle" [ngClass]="{ 'disabled': this.currentSeason == 1 }"
        (click)="navigate_previous()">fast_rewind</i>
    </div>

    <h5 class="center-align">Season <span>{{ currentSeason }}</span></h5>

    <div class="center-align">
      <i class="material-icons navigation_btn hoverable circle"
        [ngClass]="{ 'disabled': this.currentSeason == this.show['seasons'] }"
        (click)="navigate_next()">fast_forward</i>
    </div>
    <div class="center-align">
      <i class="material-icons navigation_btn hoverable circle"
        [ngClass]="{ 'disabled': this.currentSeason == this.show['seasons'] }" (click)="navigate_last()">skip_next</i>
    </div>
  </div>

  <div fxLayout="row">

    <div fxFlex="15rem">
      <div *ngFor="let episode of episodes" fxLayout="column" class="episode-select hoverable" (click)="selectEpisode(episode)">
        
        <div class="progress" [ngStyle]="{ opacity: episode.progress ? 1 : 0 }">
          <div class="determinate" [ngStyle]="{ 'width': episode.progress + '%' }"></div>
        </div>
        <div class="progress view" [ngStyle]="{ opacity: episode.play_progress ? 1 : 0 }">
          <div class="determinate" [ngStyle]="{ 'width': episode.play_progress + '%' }"></div>
        </div>
        <div class="episode-info">
          <label [ngClass]="getEpisodeClass(episode)">{{ getEpLabel(episode.label) }}</label>
          <label class="date">{{ formatDate(episode.date) }}</label>
        </div>
      </div>
    </div>

    <div *ngIf="selectedEpisode" fxFlex="auto">
      <app-episode [show]="show" [episode]="selectedEpisode" [mode]="'expanded'" (updatedEpisode)="episodeListener($event)"></app-episode>
    </div>
  </div>

</div>


<div *ngIf="show && openedTrailer" class="trailer_container" (click)="closeTrailer()">
  <iframe id="player" [src]='getTrailer()' width="640" height="360" frameborder="0" webkitallowfullscreen
    mozallowfullscreen allowfullscreen>
  </iframe>
</div>