.poster_container {
  margin: auto;
  margin-left: 0;
  padding-right: 2vw;
  border-radius: 4px;
  background-size: cover;
}

.card {
  cursor: pointer;
  margin: auto;
  background-color: transparent;
  width: calc(18vw);
  height: calc(18vw * 1.47);
  max-width: 220px;
  max-height: 330px;
  background-size: cover;
  border-radius: 4px;
  background-repeat: no-repeat;
  img {
    border-radius: 4px;
  }
}

#title {
  font-family: "Economica", sans-serif;
  font-size: calc(2rem + 2vw);
  line-height: calc(2rem + 2vw);
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin: 1rem 0;
  transition: color 0.4s;
}

#title:hover {
  color: var(--primary);
}

.icon {
  padding: 1rem;
  margin: 0 .5rem;
  font-size: calc(1.4rem + 1vw);
  transition: color 0.4s;
}

.additionals {
  span {
    padding-right: calc(0.5rem + 1vw);
    font-size: calc(0.8rem + 1vw);
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
  }
  label {
    padding-right: calc(1rem + 1vw);
    font-size: calc(1rem + 1vw);
    color: white;
  }
}

.genres {
  color: var(--fore-color);
  text-transform: uppercase;
  font-size: calc(0.6rem + 1vw);
  padding-right: 0.5rem;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.trailer_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

#overview {
  font-size: calc(0.8rem + 1vw);
  line-height: calc(1rem + 1vw);
  margin: 1rem 0;
  width: 100%;
}

#player {
  position: absolute;
  left: calc(50% - 320px);
  top: calc(50% - 160px);
}

.progress {
	margin: 0;
	border-radius: 0;
	background-color: var(--bg-color-2) !important;
}
