label {
  color: white;
}

[type="radio"]:checked + span {
  font-size: calc(.8rem + 0.5vw);
  color: white;
}

[type="radio"] + span {
  transition: all 0.2s ease-in;
  font-size: calc(.8rem + 0.5vw);
  color: rgba(255, 255, 255, 0.8);
}

.btn {
  height: 2rem;
  line-height: 2rem;
}

.right {
  justify-content: flex-end !important;
  text-align: right;
}

.label {
  font-weight: 600;
}

.title {
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  margin: 0 0.5rem;
  text-align: left;
  width: 100%;
}

.episode {
  margin-bottom: 0.6rem;
  padding: 1rem;
  min-height: 4.5rem;
  border-width: 1px;
  font-size: calc(1rem + 0.5vw);
  line-height: calc(1rem + 0.5vw);
}

.active {
  color: var(--fore-color);
}

.material-icons {
  cursor: pointer;
  vertical-align: middle;
}

.download_btn {
  font-size: calc(2.5rem + 1vw);
}

.download_btn:active {
  filter: blur(1px);
}

.download_btn.hoverable.circle {
  transition: transform 0.2s ease-in;
}

.episode_row {
  background-color: var(--bg-color-2);
  margin: auto;
}

.extra.expanded {
  display: block !important;
}

.extra {
  display: none !important;
  transition: height 0.3s, visibility 0.6s, opacity 0.6s ease-in;
  transition-delay: 0.2s;
}

.rotate {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.torrent_extras {
  font-size: calc(1rem + 0.5vw);
  width: 100%;
  padding-bottom: 0.2rem;
}

.extras_header {
  width: 100%;
  margin-bottom: 0.5rem;
}

.extras_header div label {
  opacity: 1;
  color: rgba(255, 255, 255, 0.6);
  font-size: calc(1rem + 0.5vw);
  transition: all 0.4s linear;
}

.seeds {
  color: var(--fore-color);
}

#speed {
  font-size: calc(1rem + 0.5vw);
  line-height: calc(1rem + 1vw);
  color: var(--fore-color);
  margin-right: 0.5rem;
}

#delete_btn {
  font-size: calc(.5rem + 1vw);
  margin-top: 0;
  float: right;
  position: relative;
  transition: margin-top 2s, opacity 0.4s ease-in;
}

.episode_msg {
  width: 100%;
  text-align: center;
  opacity: 1;
  z-index: 0;
  transition: all 0.4s ease-in;
  span {
    color: var(--fore-color);
    font-size: calc(.8rem + 1vw);
    line-height: calc(7rem + 1vw);
		animation: glowing 1s infinite;
		animation-direction: alternate;
  }
}

.overview {
  padding: 1.5rem .5rem .5rem;
  font-size: calc(1rem + 0.5vw);
  line-height: calc(1.5rem + 0.5vw);
  color: rgba(255, 255, 255, 0.8);
}

@keyframes glowing {
  0% {
    opacity: .2;
  }
  100% {
    font-size: 100%;
  }
}

.progress {
	margin: 0;
	border-radius: 0;
	background-color: var(--bg-color-2) !important;
}

.clickable-title {
  text-align: left;
  span {
    padding-left: 1rem;
  }
}
