label {
	color: white;
}

[type="radio"]:checked + span {
	font-size: calc(1rem + .5vw);
}

[type="radio"] + span {
	transition: all 0.2s ease-in;
}

.btn {
	height: 2rem;
	line-height: 2rem;
}

.progress {
  background-color: transparent;
	margin: 0;
	border-radius: 0;
	.determinate {
		background-color: var(--fore-color);
		opacity: .6;
	}
}

.progress.view {
	background-color: rgba(20, 20, 20, 0.6);
	height: 3px;
	.determinate {
		background-color: var(--primary);
		opacity: .6;
	}
}

.right {
	justify-content: flex-end !important;
	text-align: right;
}

.label {
	font-weight: 600;
}

.episode {
	margin-bottom: .6rem;
	padding: 1rem;
	min-height: 4.5rem;
	// border-style: solid;
	border-width: 1px;
	font-size: calc(1rem + .5vw);
	line-height: calc(1rem + .5vw);
	background-color: rgba(20, 20, 20, 0.6);
}

.active {
	color: var(--fore-color);
}

.material-icons {
	cursor: pointer;
	vertical-align: middle;
}

.download_btn {
	font-size: calc(1rem + 1vw);
}

.download_btn:active {
	filter: blur(1px);
}

.download_btn.hoverable.circle {
	transition: transform .2s ease-in;
}

.episode_row {
	margin: auto;
}

.extra.expanded {
	opacity: 1;
	height: calc(15rem + 10vw);
	.extras_header div label {
		opacity: 1;
	}
	.episode_msg {
		opacity: .6;
	}
}

.extra {
	opacity: 0;
	height: 0;
	transition: height .3s, visibility .6s, opacity .6s ease-in;
	transition-delay: .2s;
}

.rotate {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.torrent_extras {
	font-size: calc(1rem + .5vw);
	width: 100%;
}

.extras_header {
	width: 100%;
	margin-bottom: .5rem;
}

.extras_header div label {
	opacity: 0;
	color: rgba(255, 255, 255, .6);
	font-size: calc(1rem + .5vw);
	transition: all .4s linear;
}

.seeds {
	color: var(--fore-color);
}

#speed {
	font-size: calc(1rem + .5vw);
	line-height: calc(1rem + 1vw);
	color: var(--fore-color);
	margin-right: .5rem;
}

#delete_container {}

#delete_btn {
	margin-top: 0;
	opacity: 0;
	float: right;
	position: relative;
	transition: margin-top 2s, opacity .4s ease-in;
}

#delete_btn.expanded {
	opacity: 1;
	margin-top: 1rem;
}

.episode_msg {
	width: 100%;
	text-align: center;
	opacity: 0;
	z-index: 0;
	transition: all .4s ease-in;
	span {
		font-size: calc(1rem + 1vw);
		line-height: calc(7rem + 1vw);
	}
}

.glow {
	animation: glow 2s infinite;
}

/* Animation Keyframes*/
@keyframes glow {
	0% { opacity: .2; }
	50% { opacity: .6; }
	100% { opacity: .2; }
}

.overview {
	text-align: center;
	padding: 1.5rem 2rem .5rem;
	font-size: calc(1rem + .4vw);
	color: rgba(255,255,255, .8);
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}
