@import "~materialize-css/sass/materialize";


.home-main {
	margin-bottom: calc(4rem + 5vw);
}

.col {
	margin: auto;
}

.container {
	padding-top: 1rem;
}

.row_container {
	margin-top: 4rem;
}

.day_label {
	width: 100%;
	text-align: center;
}

.show-day {
	overflow-x: hidden;
}


.show {
	padding: 0 !important;
}


h5 {
	margin-top: 2rem;
	margin-bottom: 0;
}

.date_widget {
	padding: .5rem;
	background-color: rgb(200, 210, 220);
	color: rgb(100, 110, 120);
	border-radius: .3rem;
}

.date_number {
    font-size: calc(1rem + 3vw);
    line-height: calc(1rem + 3vw);
    font-weight: bold;
}

.date_label {
	font-size: calc(1rem + 1vw);
	line-height: calc(1rem + 1vw);
}

.date_fromnow {
	font-size: calc(1rem + 1vw);
}
