.date_widget {
	padding: .5rem;
	background-color: rgb(200, 210, 220);
	color: rgb(100, 110, 120);
	border-radius: .3rem;
  margin-bottom: calc(.5rem + .5vw);
}

.date_number {
    font-size: calc(1rem + 3vw);
    line-height: calc(1rem + 3vw);
    font-weight: bold;
}

.date_label {
	font-size: calc(1rem + 1vw);
	line-height: calc(1rem + 1vw);
  display: flex;
  align-items: center;
}

.date_fromnow {
	font-size: calc(1rem + 1vw);
}
