<video id="player" width="320" height="240" (click)="toggledEpisodes = false; showSubs = false;">Format not supported</video>

<div id="info" [ngClass]="(idleTime > 30 && !toggledEpisodes && !showSubs) ? 'hidden' : ''" fxLayoutAlign="start center">
  <i class="material-icons back_icon" [routerLink]="['/show', show['dashed_title']]">arrow_back_ios</i><span class="show">{{ show['title'] }}</span>
  <span class="episode_label">{{ episode['label'] }}</span>
  <span class="episode_title">{{ episode['title'] }}</span>
  <div class="semaphore_btn first">
		<i class="material-icons" (click)="minimize()">remove</i>
	</div>
	<div class="semaphore_btn">
		<i class="material-icons" (click)="quit()">clear</i>
	</div>
</div>
<div id="controls" [hidden]="loading" [ngClass]="(idleTime > 30 && !toggledEpisodes && !showSubs) ? 'hidden' : ''" fxLayout="row" fxLayoutAlign="start center">
<!--<div id="controls" [hidden]="loading" [ngClass]="(idleTime > 30 && !toggledEpisodes && !showSubs) ? '' : ''" fxLayout="row" fxLayoutAlign="start center">-->
  <div id="toggle_play" *ngIf="!showProgress()" (click)="toggle_play()">
    <i class="material-icons">{{ isPlaying ? 'pause' : 'play_arrow' }}</i>
  </div>
  <div id="duration" >{{ currentTime }} / {{ totalTime }}</div>
  <div id="timeline" >
    <div class="timeline__drag"></div>
    <span class="timeline__progress"></span>
  </div>

  <div id="toggle_fullscreen" fxLayoutAlign="center center" (click)="toggle_fullscreen()">
    <i class="material-icons">{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</i>
  </div>

  <div id="toggle_subs" [ngClass]="showSubs ? 'active' : ''"  (click)="toggleSubs(); toggledEpisodes = false;">
    <i class="material-icons">textsms</i>
  </div>

  <div id="subs_list" *ngIf="showSubs" >
    <div class="subs" [class.active]="sub.mode == 'showing'" *ngFor="let sub of player.textTracks" (click)="selectSubs(sub);">{{ sub.label }}</div>
  </div>

  <div id="open_folder"  (click)="openFolder()">
    <!--<app-icon [name]="'folder-open'"></app-icon>-->
    <i class="material-icons">airplay</i>
  </div>

  <div id="toggle_episodes" [class.active]="toggledEpisodes"  (click)="toggleEpisodes(); showSubs = false;">
    <!--<app-icon [name]="toggledEpisodes ? 'menu3' : 'menu4'"></app-icon>-->
    <i class="material-icons">{{ toggledEpisodes ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</i>
  </div>

  <div id="episodes_list" *ngIf="toggleEpisodes" [ngClass]="toggledEpisodes ? 'on' : ''">
    <app-episode *ngFor="let episode of show['Seasons'][show['watching_season']]" (notify)="play_episode($event)" [episode]="episode" [show]="show" [format]="'compact'"></app-episode>
  </div>

</div>

<div id="progress_widget" *ngIf="showProgress()" fxLayout="column" fxLayoutAlign="start center">
  <span>{{ torrent.progress_label }}</span>
  <span>{{ torrent.speed_label }}</span>
</div>
