<div class="player_container" *ngIf="show && episode">


  <video id="player" width="320" height="240" (click)="toggledEpisodes = false; showSubs = false;"></video>

  <div id="info" [ngClass]="hideControls() ? 'hidden' : ''" fxLayoutAlign="start center"
    style="-webkit-app-region: drag">
    <!-- <div id="info"  fxLayoutAlign="start center" style="-webkit-app-region: drag"> -->
    <div>
      <i class="material-icons back_icon" [routerLink]="['/show', show['dashed_title']]">arrow_back_ios</i>
    </div>
    <span class="show">{{ show['title'] }}</span>
    <span class="episode_label">{{ episode['label'] }}</span>
    <span class="episode_title">{{ episode['title'] }}</span>
    <div class="semaphore_btn first">
      <i class="material-icons" (click)="minimize()">remove</i>
    </div>
    <div class="semaphore_btn">
      <i class="material-icons" (click)="quit()">clear</i>
    </div>
  </div>

  <div id="controls" [ngClass]="hideControls() ? 'hidden' : ''" [hidden]="loading" fxLayout="row" fxLayoutAlign="start center">
    <div class="hoverable" *ngIf="this.player" (click)="toggle_play()">
      <i class="material-icons">{{ isPlaying ? 'pause' : 'play_arrow' }}</i>
    </div>
    <div id="duration">{{ currentTime }} / {{ totalTime }}</div>

    <input type="range" id="timeline" value="0">

    <div class="hoverable" fxLayoutAlign="center center" (click)="toggle_fullscreen()">
      <i class="material-icons">{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</i>
    </div>

    <div class="hoverable" [ngClass]="showSubs ? 'active' : ''" (click)="toggleSubs(); toggledEpisodes = false;">
      <i class="material-icons">textsms</i>
    </div>

    <div *ngIf="showSubs">
      <div id="subs_list" class="subs" [class.active]="sub.mode == 'showing'" *ngFor="let sub of player.textTracks"
        (click)="selectSubs(sub);">{{
        sub.label }}</div>
    </div>

    <div class="hoverable" (click)="openFolder()">
      <i class="material-icons">airplay</i>
    </div>

    <div class="hoverable" *ngIf="nextEpisode" (click)="playNextEpisode()">
      <i class="material-icons">skip_next</i>
    </div>

  </div>

  <div id="progress_widget" *ngIf="!loading && progress < 10" fxLayout="column" fxLayoutAlign="start center">
    <span>progress: {{ progress }}%</span>
    <span>speed: {{ speed }}</span>
  </div>
  <app-page-loader [display]="loading"></app-page-loader>


</div>