<video id="player" width="320" height="240" (click)="toggledEpisodes = false">Format not supported</video>

<div id="info" [ngClass]="idleTime > 20 ? 'hidden' : ''" fxLayoutAlign="start center">
  <i class="material-icons back_icon" [routerLink]="['/show', show['dashed_title']]">arrow_back_ios</i><span class="show">{{ show['title'] }}</span>
  <span class="episode_label">{{ episode['label'] }}</span>
  <span class="episode_title">{{ episode['title'] }}</span>
</div>
<!-- <div id="controls" [ngClass]="idleTime > 20 ? 'hidden' : ''" fxLayout="row" fxLayoutAlign="start center"> -->
<div id="controls"  fxLayout="row" fxLayoutAlign="start center">
  <div id="toggle_play" fxflex="auto" fxFlexOffset="calc(.5rem + 1vw)" (click)="toggle_play()">
    <i class="material-icons">{{ isPlaying ? 'pause' : 'play_arrow' }}</i>
  </div>
  <div id="duration" fxFlex="14" fxFlex.gt-xs="11">{{ currentTime }} / {{ totalTime }}</div>
  <div id="timeline" fxFlex="44" fxFlex.gt-xs="54" fxFlexOffset="calc(.5rem + 1vw)">
    <div class="timeline__drag"></div>
    <span class="timeline__progress"></span>
  </div>
  <div id="toggle_fullscreen" fxFlex="4" fxFlexOffset="calc(.5rem + 1vw)" fxLayoutAlign="center center" (click)="toggle_fullscreen()">
    <i class="material-icons">{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</i>
  </div>
  <div id="toggle_subs" [ngClass]="showSubs ? 'on' : ''" fxFlex="4" fxFlexOffset="calc(.5rem + 1vw)" fxLayoutAlign="center center" (click)="toggleSubs()">
    <i class="material-icons">textsms</i>
  </div>
  <div id="open_folder" fxFlex="4" fxFlexOffset="calc(.5rem + 1vw)" fxLayoutAlign="center center" (click)="openFolder()">
    <i class="material-icons">folder_open</i>
  </div>
  <div fxFlex="4" fxFlexOffset="calc(.5rem + 1vw)" fxLayoutAlign="center center" (click)="toggleEpisodes()">
    <i class="material-icons">playlist_play</i>
  </div>
  <div id="episodes_list" *ngIf="toggleEpisodes" [ngClass]="toggledEpisodes ? 'on' : ''" fxLayout="column">
    
    <!-- <div *ngFor="let episode of show.Seasons[show.watching_season]">
      <div class="menu_episode" fxLayout="row" fxLayoutAlign="center center" fxFlex [ngClass]="isCurrent_episode(episode.label) ? 'current_episode' : ''">
         -->
        <app-episode *ngFor="let episode of show.Seasons[show.watching_season]" [episode]="episode" [show]="show" [format]="'compact'"></app-episode>

        <!-- <label fxFlex="30">{{ episode.label }}</label>
        <label fxFlex="70">{{ episode.title }}</label>
      </div>
    </div> -->

  </div>
</div>
