::-webkit-media-controls {
  display:none !important;
}

body {
  overflow: hidden;
}

i {
  font-size: calc(1rem + 2vw);
  cursor: pointer;
  vertical-align: middle;
}

#info {
  position: absolute;
  width: 100%;
  height: 8rem;
  opacity: 1;
  background-color: rgba(20, 20, 20, .7);
  transition: all .4s ease-in;
  padding: calc(1rem + 1vw);
  z-index: 10000000000;
  .show {
    font-size: calc(1.5rem + 3vw);
    line-height: calc(1.5rem + 3vw);
    font-weight: bold;
    // padding-left: calc(1rem + 1vw);
    text-transform: capitalize;
  }
  .episode_title {
    font-size: calc(1rem + 1vw);
    line-height: calc(1rem + 1vw);
    padding-left: calc(1rem + 1vw);
  }
  .episode_label {
    font-size: calc(1rem + 2vw);
    line-height: calc(1rem + 2vw);
    padding-left: calc(1rem + 1vw);
  }
}

#player {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#controls {
  position: absolute;
  width: 100%;
  height: 5rem;
  opacity: 1;
  background: rgba(20, 20, 20, .7);
  // bottom: 0;
  top: calc(100vh - 5rem);
  z-index: 10000000000;
  transition: all .4s ease-in;
}

#controls.hidden {
  opacity: 0;
}

#info.hidden {
  opacity: 0;
}

#toggle_play {
  i {
    font-size: calc(2rem + 2vw);
  }
}

#toggle_subs {
  opacity: .4;
  transition: opacity .4s ease-in;
  i {
    font-size: calc(1rem + 1vw);
  }
}

#toggle_subs.on {
    opacity: 1;
}

#open_folder {
  i {
    font-size: calc(1rem + 1vw);
  }
}

#episodes_list {
  display: none !important;
  position: absolute;
  bottom: 8vw;
  right: .5rem;
  width: 50vw;
  // height: 60vw;
  background-color: rgba(20, 20, 20, .7);
}

#episodes_list.on {
  display: block !important;
}

.menu_episode {
  cursor: pointer;
  height: calc(2vw + 3rem);
  label {
    text-align: center;
    cursor: pointer;
    font-size: 1.4rem;
  }
}
.menu_episode:hover {
  label {
    color: #26a69a;
  }
}

.current_episode {
  label {
    color: rgba(255, 255, 255, .9);
  }
}

#duration {
  text-align: center;
  font-size: calc(.5rem + 1vw);
}

#timeline {
  background: rgba(60, 60, 60, .7);
  width: 100%;
  height: .5rem;
  border-radius: 1rem;
  cursor: pointer !important;
  position: relative;
}

.timeline__drag {
  width: .2rem;
  height: 2rem;
  top: -.8rem;
  background-color: rgb(230, 230, 130);
  position: absolute;
  z-index: 2;
  border-radius: .5rem;
  transform-origin: 0 0;
}

.timeline__progress {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #26a69a;
  transform: scaleX(0);
  transform-origin: 0 0;
  position: relative;
  z-index: 1;
}


#dot {
  position: relative;
  top: 0;
  height: .5rem;
  i {
    position: relative;
    left: calc(-.6rem - 1vw);
    top: calc(-0.4rem - 1vw);
  }
}


video::cue {
  background-color: rgba(20, 20, 20, .7);
  font-size: calc(1.5rem + 2vw);
  border-radius: 1rem;
}

.back_icon {
  color: #26a69a;
}