<app-page-loader [display]="loading"></app-page-loader>

<div *ngIf="calendar && calendar.length" fxLayout="column" class="container">
	<div *ngFor="let day of calendar; let day_i = index;" fxLayout="column" class="days_container">

		<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2vw">
			<div fxLayout="column" fxLayoutAlign="center" class="date_widget">
				<span class="date_number center-align">{{ formatMonthDate(day.date) }}</span>
				<span class="date_label center-align">{{ formatWeekDate(day.date) }}</span>
			</div>
			<span class="date_fromnow valign-wrapper">{{ formatFromNowDate(day.date) }}</span>
		</div>

		<div @fadeItems fxLayout="column">
			<div fxLayout="row wrap" fxLayoutAlign="center center" class="show-day" id="day_{{ day_i }}">
				<div fxLayout="column" class="show" *ngFor="let show of day.shows">

					<app-expanded-card [show]="show"></app-expanded-card>
					
				</div>
			</div>
		</div>

	</div>
</div>

