@import "~materialize-css/sass/materialize";


.col {
	margin: auto;
}

.days_container:not(:first-child) {
	margin-top: 4rem;
}

.day_label {
	width: 100%;
	text-align: center;
}

.show-day {
	overflow-x: hidden;
}


.show {
	padding: 0 !important;
}


h5 {
	margin-top: 2rem;
	margin-bottom: 0;
}
