img {
  width: auto;
  height: 50px;
  position: relative;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  animation:
    scale 2s ease-in-out infinite;
  z-index: 9999999;
}

.loader-background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  z-index: 9999998;
}

@keyframes scale {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
