@import "~materialize-css/sass/materialize";
@import "assets/style.css";
@import "globals.scss";
// RESET

html {
  --color1: steelblue;
  --distance: 50px;
  --bg-color: rgb(58, 70, 76);
  --fore-color: #e6e682 ;
}

html, body {
	background-color: var(--bg-color);
	background-size: cover;
	user-select: none;
	margin: 0;
	height: 100%;
	padding: 0;
	color: white;
	font-family: 'Economica', sans-serif;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

body {
	background-color: transparent;
}

.bg-container {}

.bg-container::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

::selection {
  background: #26a69a;
}

:focus {
    outline: none;
}

input {
	font-family: 'Economica', sans-serif !important;
}

.hoverable {
	cursor: pointer;
}

.material-icons {
	padding: .2rem;
	outline-color: transparent;
}


.container {
	margin-top: 4rem;
}


.btn {
	border-style: solid !important;
	border-width: 1px !important;
	background: transparent !important;
	font-size: calc(1rem + 1vw) !important;
	transition: all .4s;
}


// CUSTOM SCROLLBAR
/* width */
::-webkit-scrollbar {
	width: calc(.2rem + .5vw);
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #26a69a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #26a69a;
}

.cdk-global-overlay-wrapper {
	position: absolute;
    top: 0;
    width: 100%;
    height: stretch;
    background: rgba(0,0,0,.6);
    z-index: 999999999;
}

.cdk-overlay-pane {
	position: relative !important;
	top: 40vh;
	margin: auto;
	background: rgb(58, 70, 76);
}

app-show {
	position: absolute;
	margin-top: 4rem;
  width: 100%;
}

#splash {
	background-image: url('assets/cereal-bkg.png');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85% !important;
  }
}






