@import "~materialize-css/sass/materialize";

// RESET
html, body {
	user-select: none;
	margin: 0;
	padding: 0;
	@extend .blue-grey, .darken-3;
	color: white;
	// font-family: 'Abel', sans-serif;
	font-family: 'Economica', sans-serif;
	text-rendering: optimizeLegibility;
}

.hoverable {
	cursor: pointer;
}

.material-icons {
	padding: .2rem;
	outline-color: transparent;
}


.container {
	margin-top: 2rem !important;
}


.btn {
	border-color: #2bbbad !important;
	border-style: solid !important;
	border-width: 1px !important;
	background: transparent !important;
	color: #2bbbad !important;
}










